# Neon Postgres connection string (get from Vercel dashboard or Neon console)
DATABASE_URL=postgresql://user:password@host/database?sslmode=require

# Auth.js (generate AUTH_SECRET with: npx auth secret)
AUTH_SECRET=j7kegLfONvOaXTV48wfgXY1AR0aJaBQwpTrFFDMg/lM=
AUTH_GOOGLE_ID=1052016738415-a1aujjv79oi10rj1of0ledunuvb299vp.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=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
